.size {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    div {
        &:last-child {
            padding-bottom: 105px;
        }
    }
    .mask {
        font-size: 50px;
        position: fixed;
        width: 100vw;
        height: 100vh;
    }
}

.img {
    width: 240px;
    height: 240px;
}

.show {
    overflow: inherit;
}
.hide {
    overflow: hidden;
    height: 100vh;
}