.routerName {
  display: flex;
}
.logo {
  width: 200px;
  font-size: 22px;
  padding-left: 30px;
  line-height: 67px;
  font-weight: 600;
}
.ul {
  margin-bottom: 10px;
  display: flex;
  li {
    display: flex;
  }
}
.routerSwich {
  overflow-y: scroll;
  height: 100%;
}
.user {
  // position: absolute;
  // right: 100px;
  // // top: 20px;
  // z-index: 99999;

}
/* x xs */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  // iphoneX iphoneXS样式
  .appBar {
    padding-bottom: 15px;
    .navBox {
      height: 115px;
    }
  }
}
/* xr */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  // iphoneXR样式
  .appBar {
    padding-bottom: 15px;
    .navBox {
      height: 115px;
    }
  }
}
/* xs max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  // iphoneXR样式
  .appBar {
    padding-bottom: 15px;
    .navBox {
      height: 115px;
    }
  }
}
:global {
  .ant-layout-header {
    padding: 0;
    display: flex;
    height: 67px;
  }
  .ant-menu-submenu-arrow {
    position: relative;
  }
  .ant-menu-submenu-title {
    position: relative;
  }
  // .ant-menu {
  //   width: 100%;
  // }
}
